# **Testing results documentation**

## **1. Check if the program validates the range of the first part in the SSN**
### **Flow**
* Function to test:
* Input: 
* Expected result:
* Real Result:
* Conclusion:

## **2. Validate if the program validates the range of the second part in SSN**
### **Flow**
* Function to test:
* Input: 
* Expected result:
* Real Result:
* Conclusion:

## **3. Check if the program validates the format in SSN (divided by hyphen)**
### **Flow**
* Function to test:
* Input: 
* Expected result:
* Real Result:
* Conclusion:

## **4. Confirm if the program support incorrect inputs (random strings, special characters, etc.)**
### **Flow**
* Function to test:
* Input: 
* Expected result:
* Real Result:
* Conclusion:

## **5. Testing a valid input in range 100001 to 1000000**
### **Flow**
* Function to test:
* Input: 
* Expected result:
* Real Result:
* Conclusion: